body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.title {
    overflow: auto;
    height: 20vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Times New Roman', Times, serif;
}

.titlewords {
    display: flex;
    flex-wrap: wrap;
}

.titlewords h1 {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 100%;
    margin: 0px;
}

.titlewords p {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 100%;
    margin: 0px;
}

.navigate {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    background-color: rgba(128, 128, 128, 0.5);
    height: 20vh;
    font-size: 90%;
    width: 100%;
}

.logoimg {
    display: flex;
    padding-top: 2%;
    justify-content: end;
    width: 35%;
    height: 70%;
}

.logoimg img {
    width: 50%;
    height: 100%;
}

.links {
    display: flex;
    align-items: center;
    justify-items: start;
    height: 100%;
    width: 65%;
}

.links a {
    padding-left: 4%;
}

.links :nth-child(1) {
    padding-left: 10%;
}

.links :nth-child(5) {
    padding-left: 10%;
}

.links a:link {
    color: rgb(74, 85, 95);
}

.links a:visited {
    color: rgb(74, 85, 95);
}

.links a:active {
    color: rgb(250, 255, 240);
}

.topp {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 60vh;
}

.topp img {
    height: 100%;
    width: 100%;
}

.cars {
    overflow: auto;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    height: 100vh;
}

.bottomp {
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 100vh;
}

.social {
    overflow: auto;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    height: 60vh;
}

.info {
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 30vh;
}