body { 
    background-image: url("../images/background.jpg");
    background-size: cover;
}
.title {
    color: white;
    background-color: black;
}
.navigate {
    background-color: grey;
    color: white;
}
.topp {
    background-color: black;
    color: white;
}
.cars {
    background-color: grey;
    color: white;
}
.bottomp {
    background-color: black;
    color: white;
}
.social {
    background-color: grey;
    color: white;
}
.info {
    background-color: black;
    color: white;
}